{% extends 'base.html' %}

{% block content %}
<form method="post" enctype="multipart/form-data">
<img src="{{ product.image.url }}"/>
<p>Name: {{ product.name }} </p>
<p>Price: {{ product.price }}</p>
<p>Count: {{ product.count }}</p>
<p>Category: {{ product.category }}</p>
</form>
<button type="button">
    <a href="{% url 'product-list' %}">product-list</a>
</button>

{% with comments.count as total_comments %}
    <h2>
        {{ total_comments }} comment{{ total_comments|pluralize }}
    </h2>
{% endwith %}

{% for comment in comments %}
    <div class="comment">
        <p class="info">
            Comment {{ forloop.counter }} by {{ comment.name }}
            {{ comment.created }}
        </p>
        {{ comment.body|linebreaks }}
    </div>
{% empty %}
    <p>There are no comments yet.</p>
{% endfor %}

{% if new_comment %}
    <h2>Your comment has been added.</h2>
{% else %}
    <h2>Add a new comment</h2>
    <form action="" method="post">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Add comment"></p>
    </form>
{% endif %}

{% endblock %}
